{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-organize-imports"]
}
