$black: #000000;
$black-80: #181818;
$black-60: #5c5c5c;
$black-50: #575c63;
$black-40: #6c757d;
$black-30: #cacaca;
$black-20: #e3eaf6;
$black-15: #eaeef5;
$black-10: #f6f8fc;
$white: #ffffff;
$blue-100: #101f35;
$blue-80: #003655;
$blue-60: #4e7aaf;
$blue-50: #00a2ff;
$blue-20: #e3f2ff;
$blue-90: #003655;
$green-50: #20c997;
$red-50: #f43e54;
$red-90: #c82333;
$red-20: #ffecec;
$red-30: #ffc4c4;
$yellow-50: #ff9100;
$yellow-20: #fff3cd;
$yellow-30: #f9edd7;
$yellow-90: #cc7a00;
$green-50: #28a745;
$green-30: #e4f9d7;
$green-20: #d4edda;
$green-90: #1e7e34;
$green-100: #92d22a;
$red-20: #f8d7da;
$grey-100: #f1f1f1;
$grey-200: #8c9296;
$grey-500: #808080;
$grey-700: #616161;
$bg-error: #900;
