@use 'src/design-system/text';
@use '/src/design-system/colors.scss' as colors;

.container_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 140px;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eaeef5;
  border-radius: 8px;
  color: white;
  position: relative;
  @extend .text;

  &__tooltip_wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
  }

  &__tooltip {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
  }
}

.title {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.02em;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-top: 4px;
}

.content {
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  margin-top: 8px;
}

.content_span {
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  opacity: 0.8;
}

.footer {
  width: 100%;
  margin-top: 8px;
  text-align: center;
}

.full_width {
  width: 100%;
}
